@font-face {
    font-family: "PelakFA";
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Pelak-FontFamily/webfonts/eot/Pelak-Medium.eot');
    src: url('./fonts/Pelak-FontFamily/ttf/Pelak-Medium.ttf') format('ttf'),
        /* IE6-8 */
        url('./fonts/Pelak-FontFamily/webfonts/woff/Pelak-Medium.woff') format('woff');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: "PelakFA";
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Pelak-FontFamily/webfonts/eot/Pelak-Bold.eot');
    src: url('./fonts/Pelak-FontFamily/ttf/Pelak-Bold.ttf') format('ttf'),
        /* IE6-8 */
        url('./fonts/Pelak-FontFamily/webfonts/woff/Pelak-Bold.woff') format('woff');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: "PelakFA";
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/Pelak-FontFamily/webfonts/eot/Pelak-Black.eot');
    src: url('./fonts/Pelak-FontFamily/ttf/Pelak-Black.ttf') format('ttf'),
        /* IE6-8 */
        url('./fonts/Pelak-FontFamily/webfonts/woff/Pelak-Black.woff') format('woff');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: "Farhang";
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Farhang/woff/Farhang2-Medium.woff') format('woff'),
        /* IE6-8 */
        url('./fonts/Farhang/ttf/Farhang2-Medium.ttf') format('ttf');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: "Farhang";
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/Farhang/woff/Farhang2-DemiBold.woff') format('woff'),
        /* IE6-8 */
        url('./fonts/Farhang/ttf/Farhang2-DemiBold.ttf') format('ttf');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: "Farhang";
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/Farhang/woff/Farhang2-Black.woff') format('woff'),
        /* IE6-8 */
        url('./fonts/Farhang/ttf/Farhang2-Black.ttf') format('ttf');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}